.product-card{
display: flex;

flex-direction: column;

justify-content: center;

align-items: center;

width:280px;

height:450px;

background:white;

border-radius:16px;

padding:15px;

cursor:pointer;

transition:0.3s;

box-shadow:0 4px 10px rgba(0,0,0,0.05);

}

.product-card:hover{

transform:translateY(-8px);

box-shadow:0 12px 30px rgba(0,0,0,0.12);

}

.product-card img{

width:200px;

height:320px;

object-fit:contain;

border-radius:10px;

}

.product-card button{

margin-top:10px;

width:100%;

padding:10px;

background:#222;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}